@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;

    --primary: 156 67% 30%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 5%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 92%;
    --input: 0 0% 85%;
    --ring: 0 0% 76%;

    --radius: 0.5rem;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .hidden-scrollbar-y::-webkit-scrollbar {
    width: 0px;
  }

  .hidden-scrollbar-x::-webkit-scrollbar {
    height: 0px;
  }

  .custom-scrollbar-y::-webkit-scrollbar {
    width: 5px;
  }

  .custom-scrollbar-x::-webkit-scrollbar {
    height: 5px;
  }

  :is(.custom-scrollbar-y, .custom-scrollbar-x)::-webkit-scrollbar-track {
    @apply rounded bg-muted;
  }

  :is(.custom-scrollbar-y, .custom-scrollbar-x)::-webkit-scrollbar-thumb {
    @apply rounded bg-primary/20;
  }
}